:root{
  --h1size: 4em;
  --h2size: 3em;
  --psize: 1.75em;
  --navtextsize: 2em;
  --navbuttonwidth: 185px;
  --navbuttonheight: 40px;
  --navbuttongap: 30px;
  --projectmargin: 50px;
  --projectcontentpadding: 30px;
  --projectborderradius: 20px;
  --contactbuttonsize: 200px;
}

@media (orientation: portrait) {
  :root{
    --h1size: 2.5em;
    --h2size: 1.8em;
    --psize: 1.1em;
    --navtextsize: 1.1em;
    --navbuttonwidth: 100px;
    --navbuttonheight: 30px;
    --navbuttongap: 10px;
    --projectmargin: 30px;
    --projectcontentpadding: 20px;
    --projectborderradius: 10px;
    --contactbuttonsize: 80px;
  }
}

html {
  background-image: url("./assets/webbackground.png");
  background-size: 2048px;
  image-rendering: pixelated;
}

/* Normalize */
* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  image-rendering: auto;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: var(--h1size);
  color: #fff1df;
  text-shadow: #202020 0px 0px 20px;
  text-decoration: underline;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #fff1df;
  font-size: var(--h2size);
}

p {
  font-family: Metropolis, sans-serif;
  font-weight: bold;
  color: #fff1df;
  font-size: var(--psize);
}

.navbar{
  background-color: #4A5043;
  position:fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: var(--navbuttongap);
}

.navButton{
  width: var(--navbuttonwidth);
  height: var(--navbuttonheight);
  background-color: #4A5043;
  display:flex;
  justify-content: center;
  align-items: center;
}

.navButton > p{
  font-size: var(--navtextsize);
  text-decoration: none;
  color: white;
}

.navButton:hover{
  background-color: #5b6352;
}

.navButton:active{
  background-color: #E85D75;
}

.biopage{
  min-height: 100vh;
  padding-top: var(--navbuttonheight);
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(168deg, #fc9790dd 0%, #d4595ddd 30%, #d4595d00 60%);
  overflow: hidden;
}

.bioinfo{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 75px;
  margin-right: 50px;
  margin-left: 50px;
  max-width: 50em;
}

.bioinfo > *{
  margin-bottom: 30px;
}

.bioinfo > img{
  flex: 0 0 auto;
  border-radius: 50%;
  box-shadow: 5px 15px 15px;
  align-content: flex-start;
  max-height: 40vh;
  min-height: 200px;
}

.bioinfo > h1{
  flex: 0 0 auto;
  color: #fff1df;
  text-decoration: none;
}

.bioinfo > p{
  flex: 0 0 auto;
  color: #fff1df;
}

.projectList{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 1200px;
  margin: auto;
}

.projectContainer{
  background-color: #f3dea2;
  min-height: 400px;
  margin: var(--projectmargin);
  border-radius: var(--projectborderradius);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  box-shadow: 5px 15px 15px;
}

.projectIcon{
  flex: 1 0 30%;
  min-height: 0%;
  min-width: 80px;
  border-radius: var(--projectborderradius);
  background-size: cover;
  background-position: center;
}

.projectContent{
  color: #242424;
  flex: 1 1 100%;
  padding: var(--projectcontentpadding);
  text-align: start;
  display: block;
  list-style-position: inside;
}

.projectContent > *{
  color: inherit;
}

.projectContent > h2{
  padding-bottom: 20px;
}

.projectContent > p{
  font-weight: normal;
}

.actionButton{
  display: block;
  width:fit-content;
  border-image: url("./assets/Button9slice.png");
  border-image-slice: 10 fill;
  border-image-width: 20px;
  image-rendering: pixelated;
  padding: 20px;
  margin: auto;
  text-decoration: none;
}

.actionButton > p{
  font-family: Pixel;
  font-size: 1em;
}

.contactList{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contactButton{
  flex: 0 0 var(--contactbuttonsize);
  width: var(--contactbuttonsize);
  height: var(--contactbuttonsize);
  margin: 20px;
  background-color: #f3dea2;
  border-radius: var(--projectborderradius);
  box-shadow: black 5px 15px 15px;
}

.contactButton > img{
  image-rendering: pixelated;
  width:80%;
  height:80%;
  margin: 10% 10% 10% 10%;
}