:root{
  --h1size: 4em;
  --h2size: 3em;
  --psize: 1.8em;
  --navtextsize: 2em;
  --navbuttonwidth: 185px;
  --navbuttonheight: 40px;
  --projectpadding: 30px;
  --projectborderradius: 20px;
}

@media (max-width: 45em) {
  :root{
    --h1size: 2.5em;
    --h2size: 1.8em;
    --psize: 1em;
    --navtextsize: 1.1em;
    --navbuttonwidth: 100px;
    --navbuttonheight: 30px;
    --projectpadding: 10px;
    --projectborderradius: 10px;
  }
}

html {
  background-image: url("./assets/webbackground.png");
  background-size: 200%;
  image-rendering: pixelated;
}

.App {
  text-align: center;
  image-rendering: auto;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: var(--h1size);
}

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: var(--h2size);
}

p {
  font-family: Metropolis, sans-serif;
  font-size: var(--psize);
}

.navbar{
  background-color: #4A5043;
  position:fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.navButton{
  width: var(--navbuttonwidth);
  height: var(--navbuttonheight);
  background-color: #4A5043;
  display:flex;
  justify-content: center;
  align-items: center;
}

.navButton > p{
  font-size: var(--navtextsize);
  text-decoration: none;
  color: white;
}

.navButton:hover{
  background-color: #5b6352;
}

.navButton:active{
  background-color: #E85D75;
}

.biopage{
  min-height: 100vh;
  max-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  background-image: linear-gradient(168deg, #fc9790dd 0%, #d4595ddd 30%, #d4595d00 60%);
}

.biospacer{
  flex: 1 1 10%;
}

.bioinfo{
  flex: 8 0 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bioinfo > img{
  flex: 1 1 35%;
  object-fit: contain;
  min-height: 0%;
  border-radius: 50%;
  box-shadow: 5px 15px 15px;
}

.bioinfo > h1{
  flex: 0 0;
}

.bioinfo > p{
  flex: 1 0 35%;
  vertical-align: middle;
}

.projectContainer{
  background-color: #f3dea2;
  border-radius: var(--projectborderradius);
  margin: 50px;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  justify-content:stretch;
  align-items: stretch;
  box-shadow: 5px 15px 15px;
}

.projectIcon{
  flex: 1 0 25%;
  min-height: 0%;
  min-width: 30%;
  border-radius: var(--projectborderradius);
  background-size: cover;
  background-position: center;
}

.projectContent{
  color: #242424;
  flex: 2 1 75%;
  padding: var(--projectpadding);
  text-align: left;
  display: block;
}